<footer class="footer">
  <div class="footer-all-elements">
    <div>
    <div class="title-decoration">
      <svg class="icon-union" width="41" height="9">
        <use xlink:href="/img/svg/sprite.svg#icon-union"></use>
      </svg>
      <span class="title-line"></span>
      <span class="title-badge">SMARTO</span>
    </div>

<h1 class="footer-title">Контакти</h1>

<div class="footer-container">

<div class="footer-email">
<p class="footer-second-title">Головний офіс:</p>
<a class="footer-contact-link"
              href="mailto:SmartorangeTest@gmail.com"
              >SmartorangeTest@gmail.com
            </a>
            <div class="footer-btn-container">
  <a class="footer-btn" href="">ВІДКРИТИ НА GOOGLE MAPS</a>
  </div>
</div>

<div  class="footer-social-media">
  <p class="footer-second-title">Наші соцмережі:</p>
  <ul class="footer-social-list">
    <li class="footer-social-item">
      <a class="footer-social-link" href="">
        <svg class="social-icon-footer" width="24" height="24" >
          <use xlink:href="/img/svg/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
        <li class="footer-social-item">
          <a class="footer-social-link" href="">
            <svg class="social-icon-footer" width="24" height="24">
              <use xlink:href="/img/svg/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
            <li class="footer-social-item">
              <a class="footer-social-link" href="">
                <svg class="social-icon-footer" width="24" height="24">
                  <use xlink:href="/img/svg/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
                <li class="footer-social-item">
                  <a class="footer-social-link" href="">
                    <svg class="social-icon-footer" width="24" height="24">
                      <use xlink:href="/img/svg/sprite.svg#icon-tik-tok"></use>
                    </svg>
                  </a>
                </li>
  </ul>
  </div>
  </div>

  <div class="footer-container">
    <div class="footer-tel-container">
<p class="footer-second-title">Телефони відділів:</p>
<address class="footer-tels">
  <ul class="footer-tels-list">
    <li class="footer-tels-item">
      <a class="footer-contact-link" href="tel:+380444444444">
        <svg class="icon-tel" width="14" height="14">
          <use xlink:href="/img/svg/sprite.svg#icon-call"></use>
        </svg>
        (044) 444-44-44</a><span class="departament">( Юридичний відділ )</span>
    </li>
    <li class="footer-tels-item">
      <a class="footer-contact-link" href="tel:+380555555555">
        <svg class="icon-tel" width="14" height="14">
          <use xlink:href="/img/svg/sprite.svg#icon-call"></use>
        </svg>
        (055) 555-55-55</a><span class="departament">( Бухгалтерія )</span>
    </li>
  </ul>
</address>
  </div>

    <div class="footer-email-container">
      <p class="footer-second-title">Email:</p>
      <a class="footer-contact-link" href="mailto:office@smarto.ua">office@smarto.ua
      </a>
    </div>
    </div>
</div>

    <div class="footer-container-backimage">
      <img class="footer-backimage" src="/img/slides/ellipse-1.webp" alt="Building">
      <img class="footer-backimage" src="/img/slides/ellipse-2.webp" alt="BackgroundPhoto">
      <h2 class="footer-title-image">Якість</h2>
      <h2 class="footer-title-image">понад усе</h2>
    </div>
    </div>
</footer>
