<section class="objects-section">
  <h2 class="title-objects-section">Збудовані об`єкти</h2>
  <ul class="filter-list">
    <li><button class="filter-btn active" data-filter="all">Усі</button></li>
    <li><button class="filter-btn" data-filter="Бізнес">Бізнес</button></li>
    <li><button class="filter-btn" data-filter="Comfort">Comfort</button></li>
    <li><button class="filter-btn" data-filter="Premium">Premium</button></li>
  </ul>
  <div class="objects-container">
    <ul class="objects-list"></ul>
    <div class="container-btn">
      <button class="load-more">ЗАВАНТАЖИТИ ЩЕ
        <svg class="icon-pagination" width="16" height="16">
          <use href="/img/svg/sprite.svg#icon-arrow-filtering-down"></use>
        </svg>
      </button>
      </div>
  </div>
</section>
