<section class="slider-section">
  <header class="header">
    <nav class="nav">
      <a class="nav-logo" href="/index.html" aria-label="Site logo">
        Logo Company
      </a>
    </nav>
  </header>
    <div class="slider-container">
        <div class="slides">
          <ul class="slides-list">
            <li class="slide active">
              <h1 class="title-slide">Test slider</h1>
              <img  alt="First image" src="/img/slides/bg-2.webp">
                  <div class="hero-decoration">
                    <svg class="icon-union" width="41" height="9">
                      <use xlink:href="/img/svg/sprite.svg#icon-union"></use>
                    </svg>
                    <span class="hero-line"></span>
                    <svg class="icon-clever" width="22" height="22">
                      <use xlink:href="/img/svg/sprite.svg#icon-clever"></use>
                    </svg>
                  </div>
            </li>
            <li class="slide">
              <h1 class="title-slide">Owoooooo</h1>
              <img alt="Second image" src="/img/slides/bg-1.webp">
            </li>
          </ul>
              </div>
          <button id="prev"
          aria-label="Previous image"
          class="button-prev">
          <svg  width="40" height="24">
            <use xlink:href="/img/svg/sprite.svg#icon-arrow-left"></use>
          </svg>
          </button>
          <button id="next"
          aria-label="Next image"
          class="button-next">
          <svg  width="40" height="24">
            <use xlink:href="/img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
    </div>
</section>
