.objects-section{
  max-width: 1920px;
  padding: 100px 61px 210px 59px;
}
.title-objects-section{
  margin-bottom: 40px;
  font-weight: 500;
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: -0.04em;
    color: #0a0f13;
}
.filter-list{
  display: flex;
  gap: 60px;
  margin-bottom: 100px;
}
.filter-btn{
  font-family: "Inter Tight", sans-serif;
font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #0a0f13;
}
.filter-btn.active {
  color: #000;
  text-decoration: underline;

}
.objects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 картки в ряд */
  column-gap: 240px; /* відступи між картками по горизонталі */
  margin: 0;
}
.load-more{
  max-width: 153px;
  height: 21px;
  padding: 0;
  border-bottom: 1px solid #0a0f13;
  font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #0a0f13;
}
.container-btn{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


/* render card */
.objects-item{
  position: relative;
  border: 1px solid rgba(168, 168, 168, 0.2);
  background: #eff3f5;
    padding: 20px 12px;
    max-width: 440px;
    max-height: 597px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    overflow: visible;
      /* дозволяє іконці виступати */
}
.objects-item::after {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  height: 31px;
  background: url("/img/svg/down.svg") no-repeat center;
  /* фон закриває весь блок*/
  background-size: cover;
}
.icon-container{
  display: flex;
  position: absolute;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 0 0 #e1e4e6;
  background: #eff3f5;
  top:-5%;
  left: 50%;/* ставимо в центр */
  transform: translateX(-50%);

}
.icon-prev{
  padding: 0 0 16px 16px;

}
.container-year-type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 28px;
}
.year{
  font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #0a0f13;
}
.type{
  font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #0a0f13;
    border: 1px solid #a8a8a8;
      border-radius: 1000px;
      padding: 4px 8px;
      align-items: center;
}
.card-img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 12px;
  /* чорно-білий ефект */
  filter: grayscale(100%) contrast(1.1);
}
.title-card{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #0a0f13;

}
.img-title-container{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    margin-bottom: 28px;
}
.adress{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #0a0f13;
    margin-bottom: 28px;
}
.types-work{
font-size: 14px;
line-height: 1.4;
letter-spacing: -0.02em;
text-transform: uppercase;
align-items: center;
margin-bottom: 9px;
}
.list-tags{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.item-tags{
  font-size: 14px;
    text-transform: uppercase;
    color: #737373;
    border: 1px solid rgba(168, 168, 168, 0.2);
      border-radius: 1000px;
      padding: 4px 8px;
}
